@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "TERMINUS";
  src: url("/font/TerminusTTF-Bold.woff");
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Initial state - menu is hidden */
.menu-hidden {
  opacity: 0;
  transform: translateX(200%);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

/* Open state - menu is visible */
.menu-open {
  opacity: 1;
  transform: translateX(100%);
  visibility: visible;
  transition: all 0.3s ease-in-out;
}